<header>
    <img src="/assets/images/DSC_7389_web_res.JPG" height="350" alt="Thiviyan Thanapalasingam">
    <p style="font-size: 9px;">Photo taken at Lake Ruhondo, Rwanda. May 2023.</p>
    
    <h1>Thiviyan Thanapalasingam</h1>

    <p>I am currently doing a research internship at Sony AI in Barcelona.</p>
    
    <p>PhD candidate at the University of Amsterdam, advised by Paul Groth and Peter Bloem.</p>
    
    <p>I am interested in Neurosymbolic Learning and Reasoning.</p>

    <p><a href="https://indelab.org/">INDElab</a> at Science Park, Amsterdam<br>
    </p>

    <span id="links">
        <a href="https://twitter.com/ThiviyanSingam"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        <a href="https://github.com/thiviyanT"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/thiviyan-thanapalasingam-b16727133/"><i class="fa-brands fa-github fa-2xl"></i></a>
        <a rel="me" href="https://sigmoid.social/@thiviyan"><i class="fa-brands fa-mastodon fa-2xl"></i></a>
        <a href="https://scholar.google.com/citations?user=F2PvjdUAAAAJ"><i class="ai ai-google-scholar ai-2x"></i></a>
        <a href="https://dblp.org/pers/hd/t/Thanapalasingam:Thiviyan"><i class="ai ai-dblp ai-2x"></i></a>
        <a href="https://orcid.org/0000-0002-0170-9105"><i class="ai ai-orcid ai-2x"></i></a>
    </span>

    <p class="last-edit-text hide-desktop-screen">Website last updated: July 2023</p>
    
</header>
