<header>
    <img src="/assets/images/3641.jpg" height="270" alt="Thiviyan Thanapalasingam"><br><br>
    <h1>Thiviyan Thanapalasingam</h1>
    <p>I'm a first-year PhD student in Computer Science at the University of Amsterdam. My PhD advisor is <a href="http://pgroth.com/">Paul Groth</a> and my co-promoter is <a href="http://www.peterbloem.nl/">Peter Bloem</a>.</p>
    <p>I am interested in machine learning for graph-based data and knowledge representation.</p>
    <p>In my spare time, I enjoy 🏃‍♂️🚴‍♂️ 🧗‍♂️ and reading 📚.</p>

    <p>C3.154 @ Science Park<br>
        <a href="mailto:t.singam@uva.nl">t.singam@uva.nl</a><br>
    </p>
    <span id="links">
        <a href="https://twitter.com/ThiviyanSingam"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://github.com/ThiviyanThanapalasingam"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://scholar.google.com/citations?user=F2PvjdUAAAAJ"><i class="ai ai-google-scholar ai-2x"></i></a>
        <a href="https://dblp.org/pers/hd/t/Thanapalasingam:Thiviyan"><i class="ai ai-dblp ai-2x"></i></a>
        <a href="https://orcid.org/0000-0002-0170-9105"><i class="ai ai-orcid ai-2x"></i></a>
    </span>
    <!-- <hr> -->
</header>
