@charset "UTF-8";
@import 'normalize-opentype.css';
* {
    padding: 0;
    margin: 0
}

body {
    font-family: "Neue Haas Unica Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #333
}

h1 {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.25;
    color: #fff
}

p {
    color: #fff;
    margin-bottom: 22px;
    -webkit-font-smoothing: antialiased
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.15s ease-in-out
}

a:hover {
/*    color: rgba(0, 0, 0, 0.45);*/
    border-bottom: 1px solid rgba(255, 255, 255, 1)
}

abbr[title] {
    letter-spacing: 0.1em;
    cursor: help
}

.list-justified {
    width: 100%;
    display: table;
    margin: 0;
    padding: 0;
    list-style: none
}

.list-justified > li {
    display: table-cell;
    text-align: center;
}

.page-logo {
    width: 82px;
    margin: 0 auto 0 50px
}

.page-logo__img {
    display: block;
    fill: #fff
}

.description {
    width: 360px;
    padding: 0 0 0 150px;
/*    margin: -70px 50px 0 auto !important*/
    bottom: 30px;
    right: 30px;
    position: absolute;
}

.social-link,
.social-link:hover {
    color: #fff;
    border: 0
}

.social-link:hover .icon-link {
    fill: rgba(255, 255, 255, 0.85)
}

.social-link:hover .label-link {
    text-decoration: underline
}

.social-link {
    display: block;
    text-align: center
}

.icon-link {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    fill: #fff;
    text-decoration: none
}

.label-link {
    display: none;
    font-size: 12px;
    line-height: 1.4
}

.backstretch {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

.backstretch__img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('photo.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.simptip {
    border-bottom: 1px dotted rgba(221, 221, 221, .05)
}

@media (min-width: 768px) {
    [data-tooltip] {
        position: relative;
        display: inline-block
    }
    [data-tooltip]:after,
    [data-tooltip]:before {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 999999;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    [data-tooltip]:before {
        content: '';
        border: 6px solid transparent
    }
    [data-tooltip]:after {
        padding: 11px;
        font-size: 13px;
        font-family: "Neue Haas Unica Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1;
        content: attr(data-tooltip);
        white-space: nowrap
    }
    [data-tooltip].simptip-position-top:before {
        border-top-color: #000
    }
    [data-tooltip].simptip-position-top:after {
        background-color: #000;
        color: #ecf0f1
    }
    [data-tooltip]:focus,
    [data-tooltip]:hover {
        background-color: transparent
    }
    [data-tooltip]:focus:after,
    [data-tooltip]:focus:before,
    [data-tooltip]:hover:after,
    [data-tooltip]:hover:before {
        opacity: 1;
        visibility: visible
    }
    .simptip-position-top:after,
    .simptip-position-top:before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .simptip-position-top:after {
        width: auto
    }
    .simptip-position-top:after,
    .simptip-position-top:before {
        bottom: 100%
    }
    .simptip-position-top:before {
        margin-bottom: -5px
    }
    .simptip-position-top:after {
        margin-bottom: 7px
    }
    .simptip-position-top:hover:after,
    .simptip-position-top:hover:before {
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0)
    }
    .simptip-position-top.simptip-movable:before {
        margin-bottom: -15px
    }
    .simptip-position-top.simptip-movable:after {
        margin-bottom: -3px
    }
    .simptip-position-top.simptip-movable:hover:after,
    .simptip-position-top.simptip-movable:hover:before {
        -webkit-transform: translate(-50%, -10px);
        -moz-transform: translate(-50%, -10px);
        -ms-transform: translate(-50%, -10px);
        -o-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px)
    }
    .simptip-movable:after,
    .simptip-movable:before {
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -o-transition: all .1s linear;
        -ms-transition: all .1s linear;
        transition: all .1s linear
    }
    .simptip-smooth:after {
        -webkit-border-radius: 4px;
        border-radius: 4px
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 56.25%
    }
    .page-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        margin: 0
    }
    .label-link {
        display: block
    }
    .description {
        position: relative;
        max-width: 30rem;
        width: auto;
        padding: 20px;
        margin: 0 auto !important
    }
    .backstretch {
        width: 100%;
        height: 0;
        position: absolute;
        padding-bottom: 56.25%;
        opacity: 0.75
    }
    .backstretch:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(51, 51, 51, 0) 80%, rgba(51, 51, 51, 1));
        z-index: 1
    }
}
