<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <meta name="description" content="PhD candidate, Amsterdam.">
    <meta name="author" content="Thiviyan Thanapalasingam">
    <meta name="copyright" content="Copyright Thiviyan Thanapalasingam. Some rights reserved.">
    <meta name="keywords" content="thiviyan thanapalasingam, data scientist, SBR, SKM3, semantic web, knowledge graph, deep learning, machine learning, python, uva">
    <link rel="stylesheet" href="/assets/css/override.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132393923-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132393923-1');
    </script>
</head>

<body>
    <div class="wrapper">
        {{ content }}
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    <script src="https://kit.fontawesome.com/425c6ac8f1.js" crossorigin="anonymous"></script>
<!--    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>-->
</body>

</html>
